body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding:1rem;
  border-radius: 8px;
}

.icon {
  font-size: 4rem;
}
   /**** Flexbox ****/
   /** i will start with the flex box to organize the content in each card. for batter 
   organization **/

.emoji {
display: flex;
    /** I will organize the content in each card first with this property ***/
  flex-direction: column;
    /**** i used this one to organize the content vertically.in another words. from top to
    bottom **/
}
    .icon {
        order: -1;
    /**** i need the emoji to appear before the title, so i used this one **/

    text-align: center;
    /**** I also need the emogi to be in the centre in each card. */
}
